<!--Post request-->

<h3 class="alert alert-primary">Add Items Here<i class="fas fa-folder-plus" style="margin-left: 5px;"></i></h3>
<form class="item-form">
  <div class="mb-3">
    <label for="item_name" class="form-label">item:</label>
    <input type="text" class="form-control" id="item_name" />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">price:</label>
    <input type="text" class="form-control" id="price" />
  </div>
  <div class="mb-3">
    <label for="stock" class="form-label">stock:</label>
    <input type="text" class="form-control" id="stock" />
  </div>
  <div class="mb-3">
    <label for="type_id" class="form-label">type ID:</label>
    <input type="text" class="form-control" id="type_id" />
  </div>
  <div class="mb-3" class="form-label">
    <button class="btn btn-primary" type="submit">add</button>
  </div>
</form>

<script src="javascript/edit.js"></script>