<h3 class="alert alert-dark">Welcome! We are Fully Stocked!!<i class="fas fa-home" style="margin-left: 5px;"></i></h3>
<ul>
    <li>We are here to make your life easier!</li>
    <li>No more having to say "I dont know if we have that" when a customer calls</li>
    <li>No more ma and pa shops going under because of huge ecommerce stores consuming the market</li>
    <li>With our light weight and stream line inventory tracker you will confidentally know whats in shop and never have to worry about losing a customer due to uncertainty</li>
    <li>Please Refer to your Table of Contents (TOC) to review your inventory!</li>
    <li>Please Refer to your Type ID to review types by ID to ensure you pick the right one when making new items!</li>
    <li>Each item has a unqiue ID when you add them and theyll be important</li>
    <li>We make the interface easy so you can spend more time making money!!!</li>
</ul>

