<!--email and pw....use the ids to help it connect to js-->
<h3 class="alert alert-info">Login Please</h3>
<form class="login-form">
  <div class="mb-3">
    <label for="email-login" class="form-label">email:</label>
    <input type="text" class="form-control" id="email-login" />
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">password:</label>
    <input type="password" class="form-control" id="password-login" />
  </div>
  <div>
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<!--username, email and pw....use the ids to help it connect to js-->
<form class="signup-form">
  <div class="mb-3">
    <label for="username-signup" class="form-label">username:</label>
    <input type="text" class="form-control" id="username-signup" />
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label">email:</label>
    <input type="text" class="form-control" id="email-signup" />
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">password:</label>
    <input type="password" class="form-control" id="password-signup" />
  </div>
  <div>
    <button class="btn btn-primary" type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>