<!--Delete-->
<div class="alert alert-danger">
  <h3 class="alert-heading">Delete Item by Item's ID<i class="fas fa-user-times" style="margin-left: 5px;"></i></h3>
  <hr>  
  <p class="mb-0">Please refer to table of contents</p>
</div>

<form class="delete-form mb-3">
  <div>
    <label for="id" class="form-label">Item ID:</label>
    <input type="text" id="id" class="form-control" />
  </div>
  <div>
    <button class="btn btn-primary" type="submit">destroy!</button>
  </div>
</form>

<script src="javascript/delete.js"></script>