<h1 class="alert alert-info">ID Types<i class="fas fa-id-card-alt" style="margin-left: 5px;"></i></h1>


{{#each types as |type| }}
        <li><strong>Id: {{type.id}} </strong><strong>Name: </strong>{{type.type_name}}
{{/each}}